.modal__display__none {
    display: none;
}

:root {
    --main-color: #ea3354;
    --close-color: var(--main-color);
    --hover-close-color: #EA3354;
}

.screen {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #00000074;
    z-index: -0;
}

.modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    top: 30.15%;
    min-height: 10em;
    left: 37.5%;
    width: 25%;
    color: #373867;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 2px #0000006e;
    z-index: 1;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 10px;
    border-bottom: 1px solid #00000022;
    padding-bottom: 10px;
}

.header__title {
    font-weight: 600;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    height: 100%;
    margin-block: 20px;
    gap: 1.2em;
}

.content__message {
    margin: 0;
    max-width: 100%;
    font-size: 15px;
    white-space: pre-line;
}

.options {
    align-self: flex-end;
}

.options__button {
    margin: 0 10px;
    padding: 10px 28px;
    border: none;
    border-radius: 18px;
    box-shadow: 0px 2px 2px #00000040;
    color: #fffbfb;
    cursor: pointer;
}

.options__close {
    background-color: var(--close-color)
}

.options__close:hover {
    transition: 0.2s;
    background-color: var(--hover-close-color)
}

.header__button {
    padding: 0;
    border: none;
    background-color: #f8f7f7;
    color: var(--main-color);
    cursor: pointer;
}
