.primary {
    padding: 10px 30px;
    background-color: #FF0000;
    border: none;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.secondary {
    padding: 10px 30px;
    background-color: #001A72;
    border: none;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
}