.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: auto;
}

.header {
  width: 100%;
  background-color: #EA3354;
}

.title {
  display: flex;
  width: 75%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.container > h2 {
  align-self: center;
}

.title > button {
  border: #ffffff 1px solid;
  background-color: #ffffff50;
  padding: 5px 15px;
  border-radius: 5px;
}

.title > button:hover {
  background-color: #00000080;
}