.projectsWrapper h1 {
  text-align: center;
}

.h1 {
  margin-left: 170px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.top {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 0 200px;
}

.top div {
  display: flex;
  border-bottom: 1px solid #999;
}

.top input {
  border: none;
}

.table {
  border-collapse: collapse;
  caption-side: top;
  margin: 2em 0 5em 170px;
  padding: 50px 0;
  text-align: left;
}

.table caption, td, th {
  padding: 0.5em 1em;
}

.table th, td {
  border-bottom: 1px solid #999;
}

.header {
   text-align: left;
   font-size: large;
   color: #FC6225;
}

.header tr th:last-child {
   text-align: center;
}

.row {
   white-space: pre-line;
}

.btnContainer {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.button {
   background-color: #ffffff00;
   border: none;
}

.button img {
  width: 24px;
}
