.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.data {
    width: 35%;
}

.actionButtons {
    display: flex;
    justify-content: center;
    width: 20%;
}

.actionButtons button {
    padding: 2px 8px;
    margin: 0 3px;
    border-radius: 5px;
    border: #000000 solid 1px;
}

.deleteBtn {
    background-color: #EA335495;
}

.deleteBtn:hover {
    background-color: #EA3354;
}

.editBtn:hover {
    background-color: #00000040;
}