.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
}

.header {
    display: flex;
    width: 100%;
    height: 10%;
    background-color: #EA3354;
    justify-content: space-between;
    align-items: center;
}

.header button {
    margin-right: 10px;
}

.header h2 {
    margin-left: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
    justify-content: space-between;
}