.container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: #000000;
}

.header {
    width: 100%;
    background-color: #EA3354;
}

.header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: auto;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}

.input {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.input input {
    height: 20px;
    border-radius: 5px;
    border: #000000 solid 1px;
}

.submit {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: center;
}

.submit input {
    width: 100%;
    padding: 5px 0;
    margin-top: 5px;
    background-color: #EA335499;
    border-radius: 5px;
    border: #000000 solid 1px;
    font-weight: bold;
    color: #ffffff;
}

.submit input:hover {
    background-color: #EA3354;
    color: #000000;
}

.closeBtn {
    background: none;
    border: white solid 1px;
    border-radius: 50px;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}

.closeBtn:hover {
    background-color: #00000080;
}