.inputWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.label {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-block: 10px;
    padding: 0 4px;
    color: #000000;
    font-weight: 500;
    font-size: 22px;
    line-height: 16px;
  }

.input {
    width: 100%;
    min-height: 60px;
    margin-block: 10px;
    padding: 4px 14px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #0000004a;
    font-size: 18px;
    color: #000000;
    background-color: #c6c4c424;
    font-weight: 400;
}

.input:focus {
  outline: none;
}

.disabled {
  border: 1px solid #ccc;
  color: #ccc;
}