.container {
  width: 100%;
}

.title {
  padding: 0px 20px;
  text-transform: uppercase;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
}

.spinnerContainer img {
  width: 80px;
  height: 80px;
}