section {
    width: 90%;
    padding: 20px;
    margin: 20px;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.title {
    text-align: center;
}

table {
    width: 90%;
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    padding: 5px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
}

th {
    color: #000;
    background: white;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    font-size: 1rem;
    font-weight: 600;
    padding: 24px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}

td {
    padding: 10px;
    border-bottom: 1px solid #000;
}

td > button {
    background-color: transparent;
}

td > button > img {
    width: 22px;
    height: 24px;
}

p {
    margin: 0;
}

button{
    width: 80px;
    height: 30px;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 3px;
}

.buttonCreate{
    width: 150px;
    height: 60px;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 3px;
}