td {
    padding: 10px;
    border-bottom: 1px solid #000000;
}

p {
    margin: 0;
}

button {
    width: 80px;
    margin: 4px 2px;
    padding: 8px 15px;
    background-color: #ea3354;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}