.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.3);    background-color:  #ea335532;
}

h2{
    width: 70%;
    padding: 10px;
    border-radius: 7px;
    color: #ffffff;
    background-color: #EA3354;
    text-align: center;

}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formRaws{
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 5px;
    text-align: center;
    font-weight: 500;
}

.inputs{
    width: 200px;
    height: 30px;
    margin-bottom: 5px;
    border: 2px solid #EA3354;
    border-radius: 4px;
}

button{
    width:150px;
    margin: 4px 2px;
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #EA3354;
    text-decoration: none;
    cursor: pointer;
}

.addEmployeeButton{
    display: flex;
    justify-content: center;
}

.submitDiv{
    margin-top: 20px;
}

.submit{
    margin: 4px 2px;
    padding: 16px 32px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #EA3354;
    text-decoration: none;
    cursor: pointer;
}