th {
    text-align: start;
}

tr {
    padding-top: 5px;
}

thead {
    border-bottom: #000 solid 1px;
}

tbody > tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody > tr:hover {
    background-color: #EA335450;
}

.table {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0;
}

.data {
    width: 35%;
}

.actionButtons {
    display: flex;
    justify-content: center;
    width: 20%;
}

.body {
    display: flex;
    flex-direction: column;
}

.createBtn {
    padding: 5px 15px;
    background-color: #EA3354;
    border: #000000 1px solid;
    border-radius: 5px;
    font-weight: bold;
    color: #000000;
  }

.createBtn:hover {
    background-color: #00000080;
    color: #000000;
  }