th {
    text-align: start;
}

.table {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
}

.data {
    width: 35%;
}

.actionButtons {
    display: flex;
    justify-content: center;
    width: 10%;
}

.body {
    display: flex;
    flex-direction: column;
}